<div class="container">
    <h1>Names Greeted</h1>
</div>
<br>
<div class="showNames"> 
<table>
    <tr>
    <th>Names</th>
    
    </tr>
    {{#each names}}
    <tr>
        <td><a href="/greeted/{{this}}">{{this}}</a></td>
        
        
    </tr>
    {{/each}}
</table>
<p class="instr">Please click on the name to see how many times that name has been greeted.</p>
</div>
<br><br><br><br><br><br><br><br>
<div class="greetBtn1">
<a  href="./" >Back to Home</a>
</div>

