<div class="container">

    <h1>Greeted Counter</h1>
</div>    
<div class="nameCount">
<p>{{name}} have been greeted {{counter}} times.</p>
</div>
<br><br><br><br>
<div class="greetBtn1">
<a  href="/greeted" >Greeted Names</a>
</div>