/* body {
    padding: 0;
    margin: 0;
   
}

.container{
    margin: auto;
    width: 80%;
    border: 3px solid yellow;
    padding: 10px;
    text-align: center;
    color: yellow;
    background:linear-gradient(#999, #111); 
}

/* .middle {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.middle p {
    font-size: 200%;
} */

.form-inline {  
    /* display: flex;  */
    flex-flow: row wrap;
    align-items: center;
    line-height: 40px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
  
  .form-inline label {
    margin: 10px 10px 10px 0;
  }

  .form-inline p{
    font-size: 1em;
    color:black;
  }
  
  .form-inline input {
    vertical-align: middle;
    margin: 10px 20px 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 5px solid yellow;
    align-items: center;
  }

  input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    /* background-color: #d1d3d1; */
    background: linear-gradient(#999, #111);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    /* background-color:yellow; */
    background: linear-gradient(yellow,yellow);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
  
  .form-inline button {
    padding: 20px 30px;
    background: linear-gradient(#999, #111);
    border: 1px solid yellow;
    color: yellow;
    cursor: pointer;
    font-size: 30px;
    margin-right: 90px;
    /* justify-content: inherit; */
    margin-left: -4%;
  }

  .form-inline button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .form-inline a {
    margin-left: -10%;
    color: #111;

  }
  
  .display {
    font-size: 35px;
    color: black;
    text-align: center;
    width: 50%;
    align-items: center;
    border: 3px solid yellow;
    margin: auto;
  }

  .reset {
    align-items: center;
    text-align: center;
  }
  .reset button {
    padding: 20px 30px;
    background: linear-gradient(#999, #111);
    border: 1px solid yellow;
    color: yellow;
    cursor: pointer;
    font-size: 30px;
    margin-left: -10%;
  }

  .reset button a {
    color: yellow;
  }

  .counter {
    font-size: 70px;
    font-weight: 550;
    color: black;
    float: right;
    margin: 50px;
    padding: 10px;
  }

  /* .count {
    font-size: 30px;
  } */

  .error-msg {
    font-size: 2em;
    color: red;
    text-align: center;
  }

  .danger {
    color: crimson;
    font-weight: bold;
  }
  

  
  
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
      display: inline-block;
    }
    .form-inline button {
      align-items: center;
      margin-right: -1%;

    }

    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  } 